/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D8BFD8; /* Light purple background */
    color: black; /* Font color black */
}

header {
    padding: 0px 0;
    text-align: left;
    background: linear-gradient(to right, #800080, #A020F0); /* Gradient background */
    color: white;
}


nav ul {
    list-style: none;
    padding: 20;
    display: flex;
    justify-content: left;
    background-color: #555; /* Gray background for menu bar */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #777;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.name-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

#about {
    background-color: #D8BFD8; /* Light purple background */
    padding: 20px;
}

.about-me {
    margin-top: 20px;
}

h2 {
    margin: 10px 0 0;
    font-size: 28px;
}

h3 {
    margin: 5px 0;
    font-size: 24px;
}

.about-section {
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 100%;
}

.about-images {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
	
}

.about-images img {
    width: 200px;
    height: 190px;
    margin: 18px 0;
    border-radius: 10px;
	border: 2px solid #800080;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

p {
    margin: 5px;
    font-size: 18px;
    max-width: 12000px;
	margin-bottom: 15px;
}

footer {
    background-color: #555; /* Gray background for footer */
    color: white;
    text-align: center;
    padding: 0px 0;
    font-size: 12p;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.profile-pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-pic:hover {
    transform: scale(1.5);
}

.about-images img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .about-images {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .about-images img {
        width: 100px;
        height: 100px;
    }
}

.collapsible {
    background-color: #800080;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-bottom: 5px;
}

.active, .collapsible:hover {
    background-color: #A020F0;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.project-box {
    border: 2px solid #800080;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-box h3 {
    margin: 0;
    font-size: 24px;
}

.project-description {
    margin-top: 10px;
    font-size: 16px;
    display: none; /* Initially hidden */
}

.project-box:hover .project-description {
    display: block; /* Show on hover */
}



